<!--<div>
  <h1>Registrations</h1>
</div>-->

<mat-card>
  <mat-card-title>
    <h3 class="title">Registration</h3>
  </mat-card-title>
</mat-card>
<mat-card class="formCard">
  <form action="#" method="post">
    <mat-form-field>
      <mat-label>First Name</mat-label>
      <input type="text" matInput="text">
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Last Name</mat-label>
      <input type="text" matInput="text">
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>E-mail</mat-label>
      <input type="email" matInput ="email">
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input type="password" matInput="password">
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Password confirme</mat-label>
      <input type="password" matInput="password">
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" type="submit">Registrer</button>
    <br>
    <button mat-raised-button color="accent" type="reset">Sign in</button>
    <br>
    <label class="separator">registrer with</label><br>
  </form>

  <h3 class="FormFooterLink"><a href="#" mat-subheading-1>Facebook</a></h3>
  <span class="OrSeparator">-OR-</span>
  <h3 class="FormFooterLink"><a href="#" mat-subheading-1>Google</a></h3>
</mat-card>
