<mat-card class="card1">
    <mat-card-header>
        <mat-card-title>
            <h1>Welcome to E.Learn.com</h1>
        </mat-card-title>
    </mat-card-header>
    <p id="TxtAc">
        le site de l'apprentissage en ligne pour les etudiant et eleve de la R.D Congo , ce site permet de trouver ,<br>
        touts les cours sur les differente matiere du porgramme national du pays , il permet un acces a touts les niveaux.<br>
        ainsi tout les eleves et etudiants pouront acceder au cours et suivre un parcours selon le cours les parcours ont une duree<br>
        pour permettre un suivi bien et par un compte etudiant cree chez nous , sur la plateforme , qui permetra a nos equipes de suivre a la trace<br>
        l'evolution de l'etudiant ainsi meme s'il revenait apres un long moment ou une long periode il pourra  facilement reprendre par la ou il se arreter.
    </p>

    <button
    mat-raised-button
    color="primary"
    [routerLink]="['/notfound']"
    routerLinkActive="router-link-active" >More</button>

</mat-card>

<mat-card class="card2">
    <mat-card-header>
        <mat-card-title>
            <h1>Cours</h1>
        </mat-card-title>
    </mat-card-header>

    <p id="TxtAc">
        le site de l'apprentissage en ligne pour les etudiant et eleve de la R.D Congo , ce site permet de trouver ,<br>
        touts les cours sur les differente matiere du porgramme national du pays , il permet un acces a touts les niveaux.<br>
        ainsi tout les eleves et etudiants pouront acceder au cours et suivre un parcours selon le cours les parcours ont une duree<br>
        pour permettre un suivi bien et par un compte etudiant cree chez nous , sur la plateforme , qui permetra a nos equipes de suivre a la trace<br>
        l'evolution de l'etudiant ainsi meme s'il revenait apres un long moment ou une long periode il pourra  facilement reprendre par la ou il se arreter.
    </p>

    <button
    mat-raised-button
    color="primary"
    [routerLink]="['/cours']"
    routerLinkActive="router-link-active" >Learning</button>

</mat-card>
