<!--<h1>cours works!</h1>-->
<!--liste des cours-->
<mat-card class="cardImage">
    <h3 class="title">Image des type etudes </h3>
</mat-card>
<!--<mat-card class="cardCourses">
    <mat-card-title>
        <h3>Cours 1 . </h3>
    </mat-card-title>
</mat-card>

<mat-card class="cardCourses">
    <mat-card-title>
        <h3>Cours 2 . </h3>
    </mat-card-title>
</mat-card>

<mat-card class="cardCourses">
    <mat-card-title>
        <h3>Cours 3 . </h3>
    </mat-card-title>
</mat-card>-->

<mat-accordion>
    <mat-expansion-panel class="matlistcours" *ngFor="let cour of cours">
        <mat-expansion-panel-header>
           <h4>{{cour.Title}}</h4>
        </mat-expansion-panel-header>
        <p>
            {{cour.description}}
        </p>
        <p>
            {{cour.Titu}}
        </p>
        <button mat-raised-button color="primary" [routerLink]="['/connexion']" routerLinkActive="router-link-active" >Learn</button>
    </mat-expansion-panel>
</mat-accordion>

<!--<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            Cours
        </mat-expansion-panel-header>
        <p>
            Breve description du cours
        </p>
    </mat-expansion-panel>
</mat-accordion>

<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            Cours
        </mat-expansion-panel-header>
        <p>
            Breve description du cours
        </p>
    </mat-expansion-panel>
</mat-accordion>-->
